body{
    background-image: url(/imagenes/Deportes.png);
}

.hide{
    display: none   ;
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}
.disable{
    pointer-events: none;
}
button{
    
    background-color: white;
    margin-right: 5px;
    margin-top: 5px;
    transition: 0.3s;

}


button:hover {
    -webkit-transform:scale(1.1);transform:scale(1.1);



}