body{
    background-image: url(/imagenes/Deportes.png);
}

.hide{
    display: none   ;
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}
.disable{
    pointer-events: none;
}
